
<h2>All Drinks Available</h2>

<div class="container">

  <% @cocktails.each do |cocktail| %>
<div class="cards" >
  <p><%= cocktail.name %> | <%= link_to 'Show', cocktail %> | <%= link_to 'Destroy', cocktail, method: :delete, data: { confirm: 'Are you sure?' } %> </p>


<p><%= link_to "Add to List", cocktails_path %></p>
  <div class="card-category" >

  </div>
</div>




    <% end %>

  </div>



