<h2>All Drinks Available</h2>

<% @cocktails.each do |cocktail| %>
<p><%= cocktail.name %> | <%= link_to 'Show', cocktail %> |
  <%= link_to "Destroy", cocktail_path(cocktail), method: :delete, data: { confirm: "Are you sure?" } %>  <div id="add_list"></p>
<% end %>

<p><%= link_to "Add to List", new_cocktail_path %></p>
</div>



