// Place all the styles related to the reviews controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.fa-star {
  font-size: 25px;
  transition: background-color 1s;
}

.fa-star:hover {
  background-color: yellow;
}
